.page[data-v-e59ff68b]{max-width:36.4375rem}@media(max-width:1023.98px){.page[data-v-e59ff68b]{margin-left:auto;margin-right:auto}}@media(min-width:1024px){.drawer[data-v-e59ff68b]{max-width:18.75rem}}
